

nav{
  border-bottom: 1px solid lightgray;
}

ul{
  margin-left: 50px;
}

footer{
  background: #e3e2df;
  text-align: center;
  height: 200px;
  border-top: 1px solid lightgray;
}
.foot{
  padding-top: 50px;
}

.text-area{
  margin-top: 100px;
  text-align: center;


}

h2{
  font-family: 'futura-pt';
  font-size: 50px;
  margin-bottom: 25px;
}
hr{
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

#team{
  margin-bottom: 50px;
}
.links{
  margin-top: 20px;
}

@media (max-width:480px)  {

  main{
    padding-top:85px;
  }
  .lead{
    font-size: 15px;
  }
  main{
    margin: auto;
  }
  h2{
    font-size: 45px;
  }
}
